<h1>Eat-Da-Burger!</h1>

<img class="mb-5" src="/assets/img/burger.png">
<div class="row justify-content-center">
    <div class="col-md-4 p-3 mb-5" id="addBurger">
        <h2>Add a Burger</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="bn">Burger Name:</label>
                <input type="text" id="bn" name="burger_name">
            </div>
            <button type="submit" class="btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-md-5 p-3 align-self-start">
        <div class="col-12">
            <h2>Burger List</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#unless this.devoured}}
                {{> burger-list}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>


    <div class="col-md-5 p-3 align-self-start">
        <div class="col-12">
            <h2>Devoured Burgers</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                {{> burger-list}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
</div>