<h1>Eat-Da-Burger!</h1>

<h2>Undevoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h4>Enter a burger you want to eat and click 'Submit'</h4>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <div class="form-group">
    <button type="submit"> Devour it!</button>
  </div>

  <button type="submit">Submit</button>
</form>
