<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/assets/css/style.css" type="text/css" />
    <title>Burger Logger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda&display=swap" rel="stylesheet">
    <script src="../public/assets//js/burgers.js"></script>
</head>

<body class="body">
    <div class="container">
        <nav class="navbar">
            <h1 class="navbar-brand">Eat-Da-Burger!</h1>
            <img class="mb-5" src="../public/assets/img/burger.png">
            <div class="row justify-content-center">
                <div class="col-md-4 p-3 mb-5" id="addBurger">
                    <h2>Add a Burger</h2>
                    <form class="create-form">
                        <div class="form-group">
                            <label for="bn">Burger Name:</label>
                            <input type="text" id="bn" name="burger_name">
                        </div>
                        <button type="submit" class="btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-md-5 p-3 align-self-start">
                    <div class="col-12">
                        <h2>Desired Burgers</h2>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo
                                odio
                                <div class="form-inline">
                                    <button class="status-btn btn btn-danger btn-sm">
                                        Devour!
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 p-3 align-self-start">
                    <div class="col-12">
                        <h2>Devoured Burgers</h2>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo
                                odio
                                <button class="btn btn-danger btn-sm">
                                    No thanks!
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>